header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0px auto;
    background: #EFEEE8;

    padding: 20px 100px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;


}

.ul {
    border-left: 1px solid black;
    padding: 10px;
}

.div {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.fa-chevron-down {
    color: black;
    font-size: 11.67px;
    margin-right: 5px;

}

li {
    &:hover {
        color: red;
    }

    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
    gap: 15px;
}