.button,
main p {
  font-family: Oxygen;
  font-weight: 400
}

#sec_1 h1,
h1 {
  font-family: Libre Baskerville;
  font-weight: 700
}

#sec_3 button,
.button {
  background-color: #333;
  text-align: center
}

#sec_3 button,
.button,
h1,
main p {
  text-align: center
}

#sec_2,
footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px
}

#sec_1,
body,
footer,
main {
  background-color: #efeee8
}

.button,
footer p,
li {
  cursor: pointer
}

@font-face {
  font-family: Libre Baskerville;
  src: url(../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf)
}

@font-face {
  font-family: Oxygen;
  src: url(../fonts/Oxygen/Oxygen-Regular.ttf)
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif
}

body {
  width: 100%
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  background: #efeee8;
  padding: 20px 100px
}

.div,
.row,
ul {
  display: -webkit-box;
  display: -ms-flexbox
}

ul {
  list-style: none;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px
}

.ul {
  border-left: 1px solid #000;
  padding: 10px
}

.div {
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 20px
}

#sec_1,
.row {
  -webkit-box-align: center
}

.fa-chevron-down {
  color: #000;
  font-size: 11.67px;
  margin-right: 5px
}

.button,
.fa-arrow-right {
  font-size: 18px;
  color: #fff
}

footer p:hover,
li:hover {
  color: red
}

.row {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px
}

#sec_1,
.button,
.contact {
  display: -webkit-box;
  display: -ms-flexbox
}

h1 {
  font-size: 64px;
  line-height: 73.6px
}

main p {
  font-size: 22px;
  line-height: 36.3px;
  padding-top: 20px
}

main {
  max-width: 1440px;
  margin: 0 auto
}

.box {
  padding: 130px 250px
}

.button {
  width: 242px;
  height: 64px;
  border: 1px solid transparent;
  line-height: 20px;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 30px 300px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}

#sec_3 button,
button:hover {
  -webkit-transition: .5s;
  -o-transition: .5s
}

img {
  width: 1349px;
  height: 600px;
  margin: 0 auto
}

button:hover {
  background-color: #d2691e;
  border-radius: 10px;
  transition: .5s;
  color: #000
}

.fa-arrow-right {
  font-weight: 100
}

#sec_1 {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 130px 70px;
  gap: 100px
}

.img {
  width: 604px;
  height: 780px
}

#sec_1 h1 {
  font-size: 40px;
  line-height: 48px;
  text-align: left;
  color: #333
}

#sec_1 h2,
#sec_1 h3 {
  padding-top: 40px;
  font-family: Oxygen;
  color: #333
}

#sec_1 h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 29.7px;
  text-align: left
}

#sec_1 h3,
#sec_2 h1,
#sec_3 h1 {
  font-weight: 700;
  text-align: left
}

#sec_1 h3 {
  font-size: 14px;
  line-height: 23.1px
}

.img4 {
  width: 30px;
  height: 1px
}

.contact {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px
}

#sec_3,
.bottom-CONTAINER,
.box2,
.contact div div {
  display: -webkit-box;
  display: -ms-flexbox
}

.contact img:first-child {
  width: 344px;
  height: 262px
}

#sec_2 h1,
#sec_3 h1 {
  font-family: Libre Baskerville;
  font-size: 40px;
  line-height: 48px
}

#sec_2 h2,
footer p {
  font-family: Oxygen
}

#sec_2 h2 {
  padding-top: 30px;
  padding-right: 500px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.7px;
  text-align: left
}

#sec_3 button,
.bottom-CONTAINER h2,
.box5 h5 {
  font-family: Libre Baskerville
}

.contact div {
  margin-top: 30px;
  background-color: #e4e2d3;
  width: 392px;
  height: 358px;
  padding: 20px 25px
}

.contact div div {
  display: flex;
  width: 340px;
  height: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 100px
}

#sec_3 {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 80px 220px;
  gap: 30px
}

#sec_3 img {
  width: 484px;
  height: 570px
}

#sec_3 input {
  width: 440px;
  height: 55px;
  padding-left: 20px;
  margin-top: 2px;
  border-left: 1px solid transparent;
  background: #efeee8;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  outline: transparent solid 1px
}

#sec_3 button {
  width: 440px;
  height: 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.28px;
  border: 1px solid transparent;
  color: #fff;
  margin-top: 30px;
  transition: .5s
}

#sec_3 button:hover {
  background-color: #d2691e;
  border-radius: 10px;
  color: #000;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}

footer {
  height: 750px
}

.bottom-CONTAINER {
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 300px;
  padding-top: 100px
}

.bottom-CONTAINER h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 28.6px;
  text-align: left;
  color: #333
}

.box5 h5,
footer p {
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #333
}

footer p {
  font-size: 16px;
  padding-top: 14px
}

.box2 {
  gap: 50px;
  display: flex
}

.box_10,
.top_container {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center
}

a {
  text-decoration: none
}

.top_container {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
  color: #000;
  font-size: 39px
}

.box_10 {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px
}

.box5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 480px;
  margin-top: 130px
}

.box5 h5 {
  font-size: 14px
}

.box5 img {
  width: 69.4px;
  height: 18.45px
}